.dotted{
  border: none;
  border-top: 1px dotted;
  height: 1px;
}

.dashed{
  border:none;
  border-top: 1px dashed;
  height: 1px;
}

.solid{
  border:none;
  border-top: 1px solid;
  height: 1px;
}

body{
  background-color: #30353f;
}

.xAxis, .Axis{
  color: white;
}

.wasted{
  pointer-events: none;
}

text{
  stroke: white;
  fill: white;
  font-family: Roboto Condensed;
}

.makeWhite{
  stroke: white;
}

h1{
  font-size: 36px;
  text-align: center;
  color: #ffffff;
}
